    /*////////////// FUENTES ///////////////// */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,600;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    
    --primary-color: #EE6D4B;
    --secundary-color: #706e6e;
    --background-color: #232323;
    --background-color-secundary: #1d1c1c;
    background: #4b4b4b;
}


/* ////////// SCROLL BAR //////////// */
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    }
  
  ::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: var(--secundary-color);
  }


h1 {
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;

}


h2,
h3,
h4 {
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 2vh;

}




/*///////////// HEADER //////////////// */

header {
    height: 100vh;
background: url(../img/fondo1.jpgt);
}


/* ///////// MENU /////// */

.navbar{
    z-index: 100;
    background: var(--background-color);
}

.btn-primary,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:active,
.btn-primary::marker{
    background: var(--primary-color);
    border: none;
    box-shadow: none;  
    
}

.btn-primary:hover {
    background: var(--secundary-color);
}

.offcanvas {
    color: var(--primary-color);
  background: var(--background-color);
   height: 50%;
   width: 30%;
   
   border-radius: 10%;
}

.offcanvas-body{
    background: var(--background-color);
    margin: auto;    
}

.offcanvas-body a {
    text-decoration: none;
}

.offcanvas-body a:hover{
    color: var(--primary-color);
}

.btn-group-vertical{
    background: var(--background-color);
    margin: auto !important;
    
}

.navbar .container .offcanvas .offcanvas-body .btn-primary{
    background: none;
    font-size: xx-large;
    transition: color 1.5s;
}

.navbar .container .offcanvas .offcanvas-body .btn-primary:hover {
    color: var(--primary-color);
   
}

.menu-redes {
    margin: auto;
}

.menu-redes a svg {
    fill: var(--secundary-color);
}

.menu-redes a svg:hover {
    fill: var(--primary-color);
}



/* //// BANER ////// */
.menu-title {
    color: var(--primary-color);
    z-index: 10 !important;
    margin-top: 0;
    padding-top: 15%;

}

.menu-title .col-text h1 {
    color: var(--secundary-color);
}

.menu-title .col-text h2 {
    color: var(--primary-color);
    text-align: center;
}

#typed {
    color: #232323;
    font-size: 340%;
    
    text-shadow: -1px 0 rgba(255, 255, 255, 0.418), 0 1px rgba(255, 255, 255, 0.418), 1px 0 rgba(255, 255, 255, 0.418), 0 -1px rgba(255, 255, 255, 0.418);
}

.menu-title .col-text h2 i {
    color: var(--primary-color);
}





/* //////// ARROW //////// */



/* //////////// SOBRE MI //////////// */

.about {
    color: var(--secundary-color);
    background: var(--background-color);

}

.about .container,
.about .container .section-title,
.about .container .section-title h2,
.about .container .section-title p{
    background: var(--background-color);
}

.about h2 {
    margin:0 0 7vh 0;
}

.about .about-img .img-fluid {
   height: 70% !important;
    width: 80%;
   
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); 
     margin: auto;
}

.about .about-img .img-fluid img {
    margin: auto;
}



.about .row .row .col,
.about .row .row .col svg,
.about .row .row .col p{
    background: var(--background-color-secundary);
    font-weight: bolder ;
}

.about .row .row .col {
    border-radius: 10%;
    margin: 10px;
    padding-bottom: 10px;
    
}

.about .row .row .col:hover {
    filter: drop-shadow(0px 3px 8px var(--primary-color));
}


.about .row .col {
 text-align: center;
}


/* box-shadow: var(--primary-color) 0px 0px 0px 2px , #232323 10px -10px 0px -3px, var(--primary-color) 10px -10px, #232323 20px -20px 0px -3px, var(--primary-color) 20px -20px, #232323 30px -30px 0px -3px, var(--primary-color) 30px -30px, #232323 40px -40px 0px -3px, var(--primary-color) 40px -40px;
   */


/* /////////// SKILLS /////////// */

.progress {
    background: var(--secundary-color);
}

.progress-bar{
    background: var(--primary-color);
    
}

.about .row .row .col svg {
fill: var(--secundary-color);
}

.about .row .row .col svg:hover {
    fill: var(--primary-color);
}






/* ///////////// CONTACTO ////////////////// */

.contacto{
    color: var(--primary-color);
    list-style: none;
   padding: 10% 0;
}

.contacto .redes-item a{
    text-decoration: none;
    display: flex;
    margin: auto;
}

.contacto .redes-item a svg:hover {
    fill: var(--primary-color);
}


.email-form{
    
}

.email-form form {
    margin: auto;
padding:10%;
background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   
width: 100%;
}

.email-form form .form-row,
.email-form form .form-row label{
    background: none;
}

