    /*////////////// FUENTES ///////////////// */
     @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
     
     
     
     * {
        margin: 0;
        padding: 0;
        --font-family-primary: 'Amatic SC', cursive;
        --primary-color: #ee6e4b77;
        --secundary-color: #706e6e;
        --background-color: #232323;
        --background-color-secundary: #030303;
--font-family-secundary: 'Roboto Mono', monospace;
    }


    /* ////////// SCROLL BAR //////////// */
    ::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
    }

    ::-webkit-scrollbar-track {
        /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
        background-color: var(--secundary-color);
    }


    h1 {
        color: var(--primary-color);
        
        font-style: italic;
        font-weight: 400;

    }


    h2,
    h3,
    h4 {
        color: var(--primary-color);
        font-family: 'Amatic SC', cursive;
    }

    p {
        font-family: 'Roboto Mono', monospace;
        color:#7a7a7a;
    }



    /* ///////// MENU /////// */

    header {
        position: fixed;
    }


    /* BRAND NAME */

    .text-name {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        list-style: none;
        border-bottom: 0;
    }



    .text-name li {
        display: inline-block;
        float: left;
        font-weight: 700;
        font-size: 3em;
        color: var(--primary-color);
        opacity: 1;
        transition: all 0.5s ease-in-out;
        max-width: 2em;
    }

    .text-name .ghost::first-letter {
        color: #FAFAFA;
    }

    .text-name.hidden li.spaced {
        padding-left: 0;
    }

    .text-name li.spaced {
        padding-left: 0.5em;
    }

    .text-name.hidden li.ghost {
        opacity: 0;
        max-width: 0;
    }


    .navbar {
        z-index: 100;
        display:block;
    }



  


/* ///////// MENU BUTTON CUSTOM //////// */



  /* main wrapper and its layout */
  .wrapper {
    width: 50px;
    border-radius: 30px;
    height: 50px;
    background: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.281);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    position: relative;
  }
  .item {
    cursor: pointer;
  }
  .linee {
    width: 20px;
    height: 3px;
    background: rgb(201, 198, 198);
    margin-top: 3px;
    border-radius: 0px;
    transition: all 0.2s;
  }
  .linee1 {
    width: 20px;
    transform: translateX(5px);
  }
  .linee1::before {
    content: "";
    display: block;
    transform: translateX(-5px);
    width: 3px;
    height: 3px;
    background: rgb(201, 198, 198);
    transition: width 0.2s ease 0.1s, transform 0.2s;
  }
  .linee3::after {
    content: "";
    display: block;
    transform: translateX(17px);
    width: 0px;
    height: 3px;
    background: rgb(201, 198, 198);
    transition: width 0.2s ease 0.1s;
  }
  .linee3 {
    width: 13px;
  }
  
  
  .nav-items {
    width: 68px;
    height: 28px;
    background: rgb(246, 54, 54);
    color: white;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.212);
    transform: scale(0);
    transition: transform 0.1s cubic-bezier(0.23, -0.47, 0.58, -0.63);
  }
  .nav-items:hover {
    transform: scale(1.1);
    transition-timing-function: 0.1s;
  }
  .items1 {
    top: 0%;
    left: -205%;
  }
  .items2 {
    top: 80%;
    left: -183%;
    transition-delay: 0.1s;
  }
  .items3 {
    top: 150%;
    left: -93%;
    transition-delay: 0.2s;
  }
  
  .box {
    width: 0%;
    position: absolute;
    top: 110%;
    left: 0;
    height: 0px;
    overflow: hidden;
    background: white;
    display: grid;
    grid-gap: 10px;
    transition: height 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  
    z-index: 0;
  }
  .box-line {
    width: 100px;
    height: 10px;
    background: rgb(201, 198, 198);
    border-radius: 10px;
    opacity: 0;
    z-index: 0;
    transition: opacity 0s;
  }
  .box-line:nth-child(even) {
    width: 130px;
  }
  .effect {
    z-index: 3;
    border-radius: 50%;
    width: 200vmax;
    height: 200vmax;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(246, 54, 54);
    transition: transform 0.4s;
  }
  /* toggle classes */
  .box-show {
    height: 150px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.226);
    padding: 10px;
    transition-duration:0.2s;
  }
  .box-line-show {
    opacity: 1;
    transition-duration:.1s;
  }
  
  
  .color {
    background: rgb(246, 54, 54);
  }
  .show-menu {
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.23, -0.47, 0.58, -0.63);
  }
  
  
  
  
  
  /* hover effect */
  .menu:hover .linee1 {
    width: 10px;
    transform: translateX(0px);
  }
  .menu:hover .linee1::before {
    width: 0px;
    transform: translateX(0px);
  }
  .menu:hover .linee3 {
    width: 15px;
  }
  .menu:hover .linee3::after {
    content: "";
    display: block;
    transform: translateX(17px);
    width: 3px;
    height: 3px;
    background: rgb(201, 198, 198);
    transition: width 0.2s ease 0.1s;
  }
  
  
  
  
/* ////////  END MENU BUTTON CUSTOM */







    /* //// BANER ////// */

    .background {
        background: url(../img/fondo3.jpeg);
        height: 110vh;
    }

    .background__gradiant {
        background: rgb(194, 194, 194);
        background: linear-gradient(180deg, rgba(194, 194, 194, 0) 0%, rgb(3, 3, 3) 73%);
        height: 150vh;
        width: 100%!important;
        margin: 0;
       
    }


    .background .blur .container .row .col {
        background: rgba(35, 35, 35, 0) !important;

    }

    .background .blur .container {
        /*  height: 100%;
  width: 100%; */
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto;

    }

    .background .blur h2 {
        margin: auto;
        display: flex;
        text-align: center;
    }

    /* text SOY DESARROLLADOR */

    .text {
        font-weight: 900;
        font-size: 1000%;
        color: #7a7a7a;
        font-family: var(--font-family-secundary);
    }

    .soy {
        margin: auto;
        padding-top: 20%;
        display: flex;
       
    }

    .dud {
        color: var(--primary-color);
    }

 


    /* //////////// SOBRE MI //////////// */

    .about {
        color: var(--secundary-color);
        background: linear-gradient(0deg, rgb(5, 5, 5) 0%, #030303 100%);
        width: 100%;
        margin-top: 10%;
    }

    .about .container {
        margin-top: 10%;
        z-index: 900;
        margin-left: 10%;
        background: #ee6e4b11;
       height: 100vh;
        backdrop-filter: blur( 2.5px );
        -webkit-backdrop-filter: blur( 2.5px );
      
        padding: 10%;
    }

    .about  .title{
        font-size: 1000%;
        font-weight: bolder;
        font-family: var(--font-family-primary);
        width: 115%;
        color: #ee6e4b15;
        z-index: 0;
        margin-left: -0%;
    }

    .about  .title b{
        color: #ffffff07;
      font-family: var(--font-family-primary);
    }

    .about .container .row #img-container{
        background: violet;
        transform: rotate(45deg);
      }

    .about .container .row .text  {
        color: #fff;
        font-size: 2.5vh;
       
    }
    
    .about .container .row .col #img-figure img{
      filter: blur(2px);
      width: 100%!important;
        
    }




    /* box-shadow: var(--primary-color) 0px 0px 0px 2px , #232323 10px -10px 0px -3px, var(--primary-color) 10px -10px, #232323 20px -20px 0px -3px, var(--primary-color) 20px -20px, #232323 30px -30px 0px -3px, var(--primary-color) 30px -30px, #232323 40px -40px 0px -3px, var(--primary-color) 40px -40px;
   */


    /* /////////// SKILLS /////////// */

    .progress {
        background: var(--secundary-color);
    }

    .progress-bar {
        background: var(--primary-color);

    }

    .about .row  .col svg {
        fill: var(--secundary-color);
    }

   

    /* ////////////// PROYECTOS ///////////////// */

#content {
    height: 150vh !important;
    background: var(--background-color-secundary);
   
}

#content h2 {
    margin-top: 0;
}

#proyectos-filters {
    list-style: none;
    
   
    
}

#proyectos-filters li {
    cursor:pointer ;
    margin: 20% 0;
    padding-right: 10%;
    font-size: 200%;
}






#content .container .row .flipper .front img{
    width: 90%;
}

.caption,
#content .container .row .flipper .back h1{
    font-size: 2em;
    padding: 10px 10px 0 10px;
}

.date {
    font-size: 1rem;
}

.description {
    font-size: 1rem;
    padding: 0 20px 20px 20px;
}

#content .container {
    perspective: 1000px;
    display: inline-block;
    margin:5% 8%;
    height: 100vh;
    text-align: center;
}



#content .container .row .flipper:hover {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
} 

.front, .back {
    backface-visibility: hidden;
   
    top: 0;
    left: 30px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.back {
    transform: rotateY(180deg);
    height: 250px;
    margin-top: -220px;
}

 
    /* ///////////// CONTACTO ////////////////// */

    .contacto {
        color: var(--primary-color);
        list-style: none;
        padding: 10% 0;
        background: url(../img/fondo3.jpeg);

    }


    .contacto li {
       list-style: none;
    }

    .contacto .redes-item a {
        text-decoration: none;
        display: block;
        position: relative;
        overflow: hidden;
        padding: 0;
       
        
        
    }

    .contacto .redes-item a span:first-child{
        display: inline-block;
       
    }

    .contacto .redes-item a span:last-child {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        
        justify-content: center;
        transform: translateY(-100%);

    }

    .contacto .redes-item a span {
        transition: transform 0.2s ease-out;
        height: 15vh;
        text-align: center;
      }
       
      .contacto .redes-item a:hover span:first-child {
        transform: translateY(100%);
      }
       
      .contacto .redes-item a:hover span:last-child {
        transform: none;
      }


    .contacto .redes-item a svg {
        fill: var(--secundary-color);
    }

    .contacto .redes-item a,
    .contacto .redes-item a svg:hover {
        fill: var(--primary-color);
        color: var(--primary-color);
    }



    /* FORMULARIO */

    .email-form form {
        margin: auto;
        padding: 10%;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 #EE6D4B60;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 100%;
        color: #fff;
        font-size: 2rem;
        z-index: 0;
    }

    .email-form .form-row input,
    .email-form .form-group textarea {
        background: #706e6e30;
        border: none;
        color: #fff;
        font-family: 'Patrick Hand', cursive;
    }

    .email-form form button {
        background: var(--primary-color);
        padding: 0 10px;
        border-radius: 10px;
    }

    /* /END CONTACTO */


    @media only screen and (max-width:756px) {
        
        .background .background__gradiant  {
            padding-top: 120px;
        }

       
    }
    
/* ///////////////////MOBILES////////////////// */

@media only screen and (max-width: 576px)   {


    .background .background__gradiant  {
        padding-top: 100px;
    }
    .text {
        font-weight: 400;
        font-size: 400%;
        color: #FAFAFA;
    }












}


