

/*////////////// FUENTES ///////////////// */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,600;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    background: #232323;
    --primary-color: #EE6D4B;
    --secundary-color: #706e6e;
    --background-color: #232323;
    --background-color-secundary: #1d1c1c;
}


h1
 {
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400 ;

}


h2,
h3,
h4 {
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
}

p{
font-size: 2vh;

}



/*///////////// HEADER //////////////// */

header{
    height: 100vh;
    
}

header a {
    color: rgba(255, 255, 255, 0.781) !important;
    margin-right: 20px;



}

.navbar{
    color: var(--secundary-color) !important;
    font-family: 'Playfair Display', serif;
    
}

.navbar .container-fluid{
    border-bottom: 1px solid var(--primary-color);
}

.navbar .container-fluid .navbar-toggler {
  color: #EE6D4B;
  
    
}



.menu-title {
    color: var(--primary-color);
    z-index: 10 !important;

}



.col-text {
    margin: 10% 0;
}








.menu-title .col-text h1 {
    color: var(--secundary-color);
}

.menu-title .col-text h2 {
    color: var(--primary-color);
    text-align: center;
}

.menu-title .col-text h2 b {
    color: #232323;
    font-size: 300%;

    text-shadow: -1px 0 rgba(255, 255, 255, 0.418), 0 1px rgba(255, 255, 255, 0.418), 1px 0 rgba(255, 255, 255, 0.418), 0 -1px rgba(255, 255, 255, 0.418);
}

.menu-title .col-text h2 i {
    color: var(--primary-color);
}

.menu-title .col-text p {
    color: #fff;
    background: var(--primary-color);
    text-align: center;
    width: 20%;
    margin: auto;
    box-shadow: 0 2px 12px 0 var(--primary-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
}

#paralelogramo {
    width: 1%;
    height: 30px;
    background: var(--primary-color);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    margin: 0 10px;
}




/* //////////// SOBRE MI //////////// */










.about {
    color: var(--secundary-color);
   
    
}



.about h3{
    margin: 7vh 0;
}



.about img {
    width: 70%;
    margin: 10%;
    box-shadow: 0 8px 22px 0 var(--primary-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    transform: rotate(350deg);
}

.icofont-rounded-right {
    color: var(--primary-color);
}

.about .row li  {
    list-style: none !important;
}


    /* box-shadow: var(--primary-color) 0px 0px 0px 2px , #232323 10px -10px 0px -3px, var(--primary-color) 10px -10px, #232323 20px -20px 0px -3px, var(--primary-color) 20px -20px, #232323 30px -30px 0px -3px, var(--primary-color) 30px -30px, #232323 40px -40px 0px -3px, var(--primary-color) 40px -40px;
   */ 


   /* ///////////// SkILLS ////////////////// */

.skills {
color: var(--secundary-color);
   }