    /*////////////// FUENTES ///////////////// */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,600;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    
    --primary-color: #EE6D4B;
    --secundary-color: #706e6e;
    --background-color: #232323;
    --background-color-secundary: #1d1c1c;
    background: var(--background-color);
}

/* ////////// SCROLL BAR //////////// */
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--secundary-color);
  }


h1 {
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;

}


h2,
h3,
h4 {
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 2vh;

}



/*///////////// HEADER //////////////// */

header {
    height: 100vh;

}



.navbar button {
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;

}






.menu-title {
    color: var(--primary-color);
    z-index: 10 !important;

}



.col-text {
    margin: 10% 0;
}








.menu-title .col-text h1 {
    color: var(--secundary-color);
}

.menu-title .col-text h2 {
    color: var(--primary-color);
    text-align: center;
}

.menu-title .col-text h2 b {
    color: #232323;
    font-size: 200%;

    text-shadow: -1px 0 rgba(255, 255, 255, 0.418), 0 1px rgba(255, 255, 255, 0.418), 1px 0 rgba(255, 255, 255, 0.418), 0 -1px rgba(255, 255, 255, 0.418);
}

.menu-title .col-text h2 i {
    color: var(--primary-color);
}

.menu-title .col-text p {
    color: #fff;
    background: var(--primary-color);
    text-align: center;
    width: 20%;
    margin: auto;
    box-shadow: 0 2px 12px 0 var(--primary-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
}



/* //////// ARROW //////// */



/* //////////// SOBRE MI //////////// */

.about {
    color: var(--secundary-color);


}



.about h2 {
    margin:0 0 7vh 0;
}





.about .about-img .img-fluid {
   height: 70% !important;
    width: 80%;
    margin: 15%;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); 
    
}



.about .row .row .col,
.about .row .row .col svg,
.about .row .row .col p{
    background: var(--background-color-secundary);
    font-weight: bolder ;
}

.about .row .row .col {
    border-radius: 10%;
    margin: 10px;
    padding-bottom: 10px;
    
}

.about .row .row .col:hover {
    filter: drop-shadow(0px 3px 8px var(--primary-color));
}


.about .row .col {
 text-align: center;
}


/* box-shadow: var(--primary-color) 0px 0px 0px 2px , #232323 10px -10px 0px -3px, var(--primary-color) 10px -10px, #232323 20px -20px 0px -3px, var(--primary-color) 20px -20px, #232323 30px -30px 0px -3px, var(--primary-color) 30px -30px, #232323 40px -40px 0px -3px, var(--primary-color) 40px -40px;
   */


/* /////////// SKILLS /////////// */

.progress {
    background: var(--secundary-color);
}

.progress-bar{
    background: var(--primary-color);
    
}







/* ///////////// SkILLS ////////////////// */

.conocimientos {
    color: var(--secundary-color);
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--primary-color);
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #aaa;
    border-radius: 20px;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}




